<%- include('./header.ejs') -%>
        <div class="container">
                <div class="content">
                        <h2> About us page</h2>
                        <%- include('./menu.ejs') -%>
                </div>
        </div>
        
<%- include('./footer.ejs') -%>