<%- include('./header.ejs') -%>
        <div class="container">
                <div class="content">
                        <h2>Nodejs starter package</h2>
                        <p>Most basic set up for the nodejs starter, following MVC pattern structure</p>
                        <%- include('./menu.ejs') -%>
                </div>
        </div>
        
        
<%- include('./footer.ejs') -%>